.time-line-wrapper {
	padding: 30px 10px 30px 61px;
}

.time-lines {
	position: relative;
	padding-left: 50px;
}

.time-lines .line-item {
	padding: 10px 0;
	border-left: 4px solid #188DA9;
	position: relative;
	min-height: 100px;
}

.time-lines .line-item .lft-item-pic {
	position: absolute;
	left: -18px;
	top: -3px;
}

.time-lines .line-item .lfb-item-pic {
	position: absolute;
	left: -18px;
	bottom: -25px;
}

.time-lines .item-edge {
	position: absolute;
	top: 50%;
	left: -113px;
	background-color: #188DA9;
	font-size: 14px;
	color: #F1F1F1;
	padding: 3px 5px;
}

.line-item .item-edge span {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 12px solid #188DA9;
	border-right: 12px solid transparent;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	right: -28px;
	top: 1px;
	display: none;
}

.line-item:hover .item-edge span {
	display: inline-block;
}

.time-lines .body-photos>.photo {
	display: inline-block;
	width: 120px;
	height: 160px;
	background: url(../img/header.jpg) no-repeat;
	background-size: contain;
	background-position: center;
}

.time-lines .item-body {
	padding: 0 0 0 28px;
}

.item-body .body-content {
	font-size: 14px;
	color: #121212;
	line-height: 28px;
}

.item-body .body-fot-info {
	text-align: right;
	color: #a7a7a7;
	font-size: 12px;
	padding: 10px;
}

@media screen and (max-width:900px) {
	.container-fluid {
		padding: 0;
	}
}
