canvas {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
section.footer {
	background-color: #222;
	padding: 10px 0 15px;
	color: #fff;
	position: relative;
}

section.footer h2 {
	    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-bottom: 17px;
	color: #E1E1E1;
}

section.footer h4 {
	    font-size: 18px;
    padding: 5px 0;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

section.footer .contact-info i {
    font-size: 30px;
    margin: 20px 20px 10px 2px;
    display: inline-block;
}

section.footer .contact-info p.p3 {
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	margin: -44px 0 0;
	font-size: 14px;
	font-weight: 100;
}

section.footer .contact-info p.p4 {
	    padding: 0;
    display: block;
    vertical-align: middle;
    font-weight: 100;
    font-size: 14px;
    margin: -22px 0 0 57px;
}

section.footer .contact-info p.p3 a,
section.footer .contact-info p.p4 a {
	text-decoration: none;
	color: #fff;
}

section.footer .contact-info i.glyphicon.glyphicon-envelope:hover,
section.footer .contact-info p.p3 a:hover,
section.footer .contact-info p.p4 a:hover {
	color: #C1BBBB;
}
.copyright{
	padding: 30px 0 10px;
	border-top: 1px dashed #565656;
}
.copyright p {
	text-align: center;
	font-size: 14px;
	font-weight: 200;
	color: #AEAEAE;
}

.copyright p a {
	text-decoration: none;
	color: #AEAEAE;
	font-size: 14px;
}

.copyright p a:hover {
	color: red;
}

.footer-center p,
.footer-right p {
	font-size: 15px;
	line-height: 25px;
	font-weight: 100;
	color: #999;
}

.footer-right ul.social-icons {
	margin-top: 20px;
}

.footer-right ul.social-icons li {
	margin-right: 3px;
}

section.footer .footer-center .form-control {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.25);
	color: #aeaeae;
	font-size: 14px;
	border-color: #A7A7A7;
}
section.footer .footer-center .form-group label.control-label{
	    text-align: left;
    color: #e1e1e1;
    padding: 5px 17px;
}
section.footer .footer-center input::-webkit-input-placeholder {
	color: #aeaeae !important;
}

section.footer .footer-center input:-moz-placeholder {
	/* Firefox 18- */
	color: #aeaeae !important;
}

section.footer .footer-center input::-moz-placeholder {
	/* Firefox 19+ */
	color: #aeaeae !important;
}

section.footer .footer-center input:-ms-input-placeholder {
	color: #aeaeae !important;
}

button.btn-outline {
	margin-top: 8px;
	font-family: 'Montserrat', sans-serif;
	border: solid 1px #fff;
	font-size: 14px;
	border-radius: 3px;
	padding: 5px 10px;
	background: rgba(0, 0, 0, 0.45);
	width: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

button.btn-outline:hover,
button.btn-outline:focus,
button.btn-outline:active {
	border: solid 1px #DD4F43;
	background: #DD4F43;
}

section.footer .footer-right ul.social-icons2 {
	list-style: none;
	padding-top: 20px;
}

section.footer .footer-right ul.social-icons2 li {
	display: inline;
	margin-right: 5px;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-facebook {
	background-color: #3b5998;
	width: 42px;
	height: 42px;
	line-height: 44px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	font-size: 21px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-twitter {
	background-color: #55acee;
	width: 42px;
	height: 42px;
	line-height: 44px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	font-size: 17px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-linkedin {
	background-color: #e68523;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	font-size: 18px;
	color: #fff;
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	vertical-align: middle;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-google-plus {
	background-color: #dc4e41;
	width: 42px;
	height: 42px;
	line-height: 44px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	font-size: 16px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-facebook:hover {
	background-color: #002573;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-twitter:hover {
	background-color: #004A82;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-linkedin:hover {
	background-color: #BB5E00;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-google-plus:hover {
	background-color: #8A0B00;
}


.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0.5) url(../img/index/cd-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	background-size: 40px;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
	visibility: visible;
	opacity: 1;
}

.cd-top.cd-fade-out {
	opacity: .5;
}

.cd-top:hover {
	background-color: #080808;
	opacity: 1;
}
.company-info{
	padding: 0 8px;
	list-style: none;
}
.company-info li{
	padding: 5px 0;
}
.company-info li>a{
	text-decoration: none;
	outline: none;
	text-underline: none;
	color: #F1F1F1;
	font-size: 14px;
}