body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
}

img {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	vertical-align: middle;
}
a,a:hover,a:focus,a:active,a:link{
	outline: none;
	text-decoration: none;
	text-underline: none;
}

[data-darkbox] {
	cursor: pointer;
	backface-visibility: hidden;
}

.navbar-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 20;
}

.zyh-header>.navbar-brand {
	display: block;
	width: 80px;
	height: 80px;
	padding: 0;
	border-radius: 50%;
	overflow: hidden;
}

.zyh-header img {
	    display: block;
    width: 100%;
	animation: rotating 5s linear infinite;
}
@keyframes rotating{
	from{transform:rotateY(0)}
	to{transform:rotateY(360deg)}
}
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}

.zyh-collapse a {
	line-height: 2em;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	perspective: 800px;
}

.zyh-navbar-top .nav li a span {
	font-size: 19px;
	color: #fff;
	position: relative;
	display: inline-block;
	padding: 15px 15px;
	background: transparent;
	box-shadow: inset 0 3px rgb(231, 233, 234);
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	transition: background 0.6s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}

.zyh-navbar-top a span::before {
	padding: 15px 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #2f4351;
	/*-- W3layouts --*/
	content: attr(data-hover);
	-webkit-transform: rotateX(270deg);
	-moz-transform: rotateX(270deg);
	transform: rotateX(270deg);
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	pointer-events: none;
}

.zyh-navbar-top a:hover span,
.zyh-navbar-top a:focus span {
	background: #2f4351 !important;
}

.zyh-navbar-top a:hover span::before,
.zyh-navbar-top a:focus span::before {
	-webkit-transform: rotateX(5deg);
	-moz-transform: rotateX(5deg);
	transform: rotateX(5deg);
}

.zyh-navbar-top .current a span {
	background: #FFFFFF !important;
	color: #2f4351 !important;
	box-shadow: inset 0 3px #2f4351 !important;
}

.zyh-navbar-top .current a span::before {
	padding: 15px 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2f4351;
	color: #FFFFFF;
}

.slideanim {
	visibility: hidden;
}

.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

@keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

.scale {
	animation-name: scale;
	-webkit-animation-name: scale;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
}

@keyframes scale {
	0% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}

	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes scale {
	0% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}

	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

.delay {
	animation-name: delay;
	-webkit-animation-name: delay;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
}

@keyframes delay {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-70%);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

@-webkit-keyframes delay {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-70%);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

/* ----/navbar---- */
.carousel-caption {
	z-index: 10;
}

.carousel .item {
	background-color: #777;
}

.carousel-inner>.item>img {
	width: 100%;
	max-height: 900px;
}

.carousel,
.carousel .item {
	/* height: 900px; */
}
.carousel-indicators>li{
	width: 15px;
	height: 15px;
	margin: 5px;
}
.carousel-indicators>li.active{
	width: 15px;
	height: 15px;
	margin: 5px;
}
/* ----/carousel----- */
section.about-us {
	padding: 25px 0;
}

section.about-us h3.text-center,
section.our-services h3.text-center,
section.our-events h3.text-center,
section.our-gallery h3.text-center,
section.our-testimonials h3.text-center,
section.our-contacts h3.text-center {
	font-size: 30px;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
	padding: 5px 0;
	margin: 0;
}

section.about-us p.text-center,
section.our-services p.text-center,
section.our-events p.text-center,
section.our-gallery p.text-center,
section.our-testimonials p.text-center,
section.our-contacts p.text-center {
	font-size: 14px;
	font-weight: 300;
	padding: 20px 0;
}

section.about-us .about-info h4 {
	font-size: 25px;
	font-weight: normal;
	padding-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
}

section.about-us .abt {
	font-size: 16px;
	font-weight: 300;
	line-height: 32px;
	color: #A7A7A7;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-bottom: 5px;
}

section.about-us .abt>span {
	color: #666666;
	position: relative;
	padding-left: 20px;
}

section.about-us .abt>div.lw {
	flex: 1;
	height: 32px;
	padding: 0 10px;
}

section.about-us .abt i.dot {
	    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #9a2828;
    position: absolute;
    left: 0;
    top: 12px;
}

section.about-us .abt div.line {
	height: 0px;
	border-bottom: 1px dashed #A7A7A7;
	margin-top: 15px;
	white-space: nowrap;
	min-width: 60px;
}

section.about-us .abt i {
	white-space: nowrap;
}
/* ------/about-us----- */
section.our-services {
	    padding: 30px 0 50px;
	background: url(../img/index/service.jpg) no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

section.our-services h3 {
	color: #fff;
}

section.our-services p {
	color: #D2D1D1;
}

.accordion-heading {
	padding: 0px 0 20px;
}
.con2box {
    margin-left: -5px;
    margin-right: -5px;
    padding: 10px;
    height: 430px;
    border: 1px solid #676767;
    overflow: hidden;
}
.column-title01 {
    margin: 0 0 20px;
}
.con2box .con2activity img {
    width: 100%;
}
.column-title, .column-title01 {
       position: relative;
    line-height: 45px;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #676767;
}
.column-title01 p.fl {
	float: left;
}
.column-title01 p a {
    color: #E1E1E1;
    font-size: 18px;
    background: none;
	outline: none;
	text-decoration: none;
	text-underline: none;
}
.column-title01 a{
	color: #A7A7A7;
       float: right;
    padding-right: 12px;
    font-size: 14px;
}
.con2box .con2activity {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #f4f5f6;
    border-radius: 4px;
    overflow: hidden;
}
.con2box .con2activity img {
    width: 100%;
}
.activitytext {
    padding: 15px 10px 10px;
    color: #999;
    line-height: 26px;
}

.acbor {
    width: 100%;
    margin-left: -5px;
    margin-right: -5px;
}
.acbor a {
    margin-bottom: 15px;
    display: block;
}
.acbor img {
    width: 100%;
    height: 133px;
    border: 1px solid #676767;
}
.acbor img:last-child {
    margin-bottom: 0;
}
/* ------/our-services------- */

section.our-gallery {
	    padding: 30px 0 50px;
}
section.our-gallery .gallery-igr{
	    display: inline-block;
    overflow: hidden;
	position: relative;
}
section.our-gallery .gallery-igr:hover img.img-responsive,section.our-gallery .gallery-igr:focus img.img-responsive{
	transform: scale(1.2);
}
section.our-gallery .igr-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,.5);
	color: #f1f1f1;
	padding: 5px 10px;
	display: none;
}
	
section.our-gallery .igr-icon{
	    position: absolute;
    right: 5px;
    bottom: 10px;
    background: rgba(0,0,0,.8);
    border-radius: 3px;
	padding: 5px;
	display: none;
}
section.our-gallery .igr-icon>img{
	width: 18px;
    display: inline;
	vertical-align: middle;
}
section.our-gallery .igr-icon>p.igr-txt{
	display: inline;
	font-size: 12px;
	color: #E1E1E1;
	vertical-align: 0px;
}
section.our-gallery .igr-icon>p.igr-txt>i{
	    font-size: 16px;
    color: #DD4F43;
	margin: 0 5px 0 0;
	vertical-align: -2px;
}
section.our-gallery img.img-responsive {
	display: inline;
	width: 280px;
	margin-bottom: 4px;
}
section.our-gallery .gallery-igr:hover>.igr-icon,section.our-gallery .gallery-igr:focus>.igr-icon{
	display: block !important;
}
section.our-gallery .gallery-igr:hover>.igr-title,section.our-gallery .gallery-igr:focus>.igr-title{
	display: block !important;
}
/* -------/our-gallery----- */
section.our-events {
	padding: 100px 0;
	background: url(../img/index/event.jpg) no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}

section.our-events h3.text-center {
	color: #fff;
}

section.our-events p.text-center {
	color: #fff;
}

section.our-events .event-info {
	background-color: rgba(19, 29, 0, 0.67);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

section.our-events h4.text-center {
	font-size: 20px;
	color: #fff;
	font-weight: normal;
	padding: 30px 0 20px;
	font-family: 'Montserrat', sans-serif;
}

section.our-events p.eve {
	font-size: 17px;
	color: #fff;
	line-height: 25px;
	font-weight: 100;
	padding: 0 50px 45px;
}

section.our-events .event-info:hover {
	background-color: rgba(0, 0, 0, 0.65);
}
/* ------/our-event------- */
section.our-testimonials {
	padding: 30px 0 50px;
	background: url(../img/index/test1.jpg) no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}

section.our-testimonials h3.text-center {
	color: #fff;
}

section.our-testimonials p.text-center {
	color: #A7A7A7;
	animation: clight 2s infinite alternate;
}
@keyframes clight{
	from{
		color: #EEEEEE;
	}
	to{
		color: #A7A7A7;
	}
}
@-webkit-keyframes name{
	from{
		color: #EEEEEE;
	}
	to{
		color: #A7A7A7;
	}
}
section.our-testimonials p.text-center:hover,section.our-testimonials p.text-center:focus{
	background: rgba(0,0,0,.3);
}
section.our-testimonials .test {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.64);
	border: 5px solid rgba(0, 0, 0, 0.33);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

section.our-testimonials .test:hover {
	background-color: rgba(0, 0, 0, 0.88);
}

section.our-testimonials .test a.img-circle {
	width: 120px;
	height: 120px;
	overflow: hidden;
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
}

section.our-testimonials .test img.img-responsive {
	width: 100%;
}

section.our-testimonials h4.text-center {
	font-size: 20px;
	font-weight: normal;
	padding: 20px 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

section.our-testimonials p.t1 {
	font-size: 16px;
    font-weight: 100;
    line-height: 25px;
    color: #fff;
    padding: 0 20px 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}
.sp-wrapper .lf-sp{
	color: #E1E1E1;
	font-size: 15px;
	font-weight: normal;
	padding: 0px 20px;
}
.sp-wrapper .rt-ul{
	    list-style: none;
    padding: 5px 10px;
}
.sp-wrapper .rt-ul>li{
	padding: 0px 5px;
	display: inline;
	line-height: 26px;
}
.sp-wrapper .rt-ul>li>a{
	color: #A7A7A7;
	font-size: 14px;
	font-weight: normal;
	outline: none;
	text-decoration: none;
	text-underline: none;
	white-space: nowrap;
}
.sp-wrapper .rt-ul>li>a:hover,.sp-wrapper .rt-ul>li>a:focus{
	color: #DD4F43;
}
/* ----/our-testimonials----- */
section.footer {
	background-color: #222;
	padding: 10px 0 15px;
	color: #fff;
}

section.footer h2 {
	    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-bottom: 17px;
	color: #E1E1E1;
}

section.footer h4 {
	    font-size: 18px;
    padding: 5px 0;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

section.footer .contact-info i {
    font-size: 30px;
    margin: 20px 20px 10px 2px;
    display: inline-block;
}

section.footer .contact-info p.p3 {
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	margin: -44px 0 0;
	font-size: 14px;
	font-weight: 100;
}

section.footer .contact-info p.p4 {
	    padding: 0;
    display: block;
    vertical-align: middle;
    font-weight: 100;
    font-size: 14px;
    margin: -22px 0 0 57px;
}

section.footer .contact-info p.p3 a,
section.footer .contact-info p.p4 a {
	text-decoration: none;
	color: #fff;
}

section.footer .contact-info i.glyphicon.glyphicon-envelope:hover,
section.footer .contact-info p.p3 a:hover,
section.footer .contact-info p.p4 a:hover {
	color: #C1BBBB;
}
.copyright{
	padding: 30px 0 10px;
	border-top: 1px dashed #565656;
}
.copyright p {
	text-align: center;
	font-size: 14px;
	font-weight: 200;
	color: #AEAEAE;
}

.copyright p a {
	text-decoration: none;
	color: #AEAEAE;
	font-size: 14px;
}

.copyright p a:hover {
	color: red;
}

.footer-center p,
.footer-right p {
	font-size: 15px;
	line-height: 25px;
	font-weight: 100;
	color: #999;
}

.footer-right ul.social-icons {
	margin-top: 20px;
}

.footer-right ul.social-icons li {
	margin-right: 3px;
}

section.footer .footer-center .form-control {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.25);
	color: #aeaeae;
	font-size: 14px;
	border-color: #A7A7A7;
}
section.footer .footer-center .form-group label.control-label{
	    text-align: left;
    color: #e1e1e1;
    padding: 5px 17px;
}
section.footer .footer-center input::-webkit-input-placeholder {
	color: #aeaeae !important;
}

section.footer .footer-center input:-moz-placeholder {
	/* Firefox 18- */
	color: #aeaeae !important;
}

section.footer .footer-center input::-moz-placeholder {
	/* Firefox 19+ */
	color: #aeaeae !important;
}

section.footer .footer-center input:-ms-input-placeholder {
	color: #aeaeae !important;
}

button.btn-outline {
	margin-top: 8px;
	font-family: 'Montserrat', sans-serif;
	border: solid 1px #fff;
	font-size: 14px;
	border-radius: 3px;
	padding: 5px 10px;
	background: rgba(0, 0, 0, 0.45);
	width: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

button.btn-outline:hover,
button.btn-outline:focus,
button.btn-outline:active {
	border: solid 1px #DD4F43;
	background: #DD4F43;
}

section.footer .footer-right ul.social-icons2 {
	list-style: none;
	padding-top: 20px;
}

section.footer .footer-right ul.social-icons2 li {
	display: inline;
	margin-right: 5px;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-facebook {
	background-color: #3b5998;
	width: 42px;
	height: 42px;
	line-height: 44px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	font-size: 21px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-twitter {
	background-color: #55acee;
	width: 42px;
	height: 42px;
	line-height: 44px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	font-size: 17px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-linkedin {
	background-color: #e68523;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	font-size: 18px;
	color: #fff;
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	vertical-align: middle;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-google-plus {
	background-color: #dc4e41;
	width: 42px;
	height: 42px;
	line-height: 44px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	font-size: 16px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-facebook:hover {
	background-color: #002573;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-twitter:hover {
	background-color: #004A82;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-linkedin:hover {
	background-color: #BB5E00;
}

section.footer .footer-right ul.social-icons2 li a i.fa.fa-google-plus:hover {
	background-color: #8A0B00;
}


.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0.5) url(../img/index/cd-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	background-size: 40px;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
	visibility: visible;
	opacity: 1;
}

.cd-top.cd-fade-out {
	opacity: .5;
}

.cd-top:hover {
	background-color: #080808;
	opacity: 1;
}
.company-info{
	padding: 0 8px;
	list-style: none;
}
.company-info li{
	padding: 5px 0;
}
.company-info li>a{
	text-decoration: none;
	outline: none;
	text-underline: none;
	color: #F1F1F1;
	font-size: 14px;
}